In [4]:
import pandas as pd
salarios={
    "Nombre":["Ringo","John","Paul","Geroge","Yoko"],
    "Edad":[45,34,42,38,47],
    "Salario":[12000,14000,13000,11000,10000],
    "Genero":["M","M","M","M","F"]
}
df = pd.DataFrame(salarios)
print(df.head())

col_salario = df["Salario"]

rango = col_salario.max() - col_salario.min()
print(f"El rango es {rango}")

   Nombre  Edad  Salario Genero
0   Ringo    45    12000      M
1    John    34    14000      M
2    Paul    42    13000      M
3  Geroge    38    11000      M
4    Yoko    47    10000      F
El rango es 4000